body{
    background-image: url("bgtumblr2.jpg")
}
header{
    background-color:rgb(247, 210, 151);
}
section{
    background-color: rgb(247, 210, 151);
}
h1{
    color:rgb(25, 37, 98);
}
img{
    display:block;
    margin: auto;
    max-width: 50%;
    height:auto;
}
.Cya {
    background-color:rgb(132, 214, 187);
}